body {
  background-color: black;
}

h1, h2, p, a {
font-family: Verdana;
  text-align: Center;
}

img {
  float: Center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px
   color: white;
}

p {
  font-size: 21px;
  color:gray;
}

a {
 color: aquamarine;
  font-size: 16px;
  text-align: Center;
}

.copyright {
  text-align: Right;
  color: gray;
}
